{% extends "skeleton.j2" %}
{% block title %}I want that pet!{% endblock %}
{% block css %}{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<h1>404 Animal not found</h1>
		</div>
	</div>
{% endblock %}
{% block js %}
{% endblock %}

