{% extends "skeleton.j2" %}
{% block title %}I want that pet!{% endblock %}
{% block css %}{% endblock %}
{% block content %}
	<div class="container">
		<div class="jumbotron">
			<h1 class="display-4">404 Animal not found</h1>
			<p class="lead">
			Perhaps you mistyped the number, or the animal you are
			looking for has already found a happy home
			</p>
		</div>
	</div>
{% endblock %}
{% block js %}
{% endblock %}

